---
- hosts:  [target_hosts] 
  become: yes               # If to escalate privilege
  become_method: sudo       # Set become method
  remote_user: ubuntu       # Update username for remote server
  vars:
    tomcat_ver: 9.0.30                          # Tomcat version to install
    ui_manager_user: manager                    # User who can access the UI manager section only
    ui_manager_pass: PoshaBiral@2023            # UI manager user password
    ui_admin_username: admin                    # User who can access bpth manager and admin UI sections
    ui_admin_pass: PoshaBiral@2023              # UI admin password
  roles:
    - tomcat

    # - include_vars: inventories.yml
  
    #- debug: msg="Hi {{ name }} !"
    
    #- name: This is my Target Hosts list
    #  set_fact:
    #    target_hosts: "{{ target_hosts }}"
   
    #- debug: msg=" Target Hosts, {{ target_hosts[1] }}"

    #- debug:
    #    var: "{{ hostvars['variable_holder']['tomcatnodes'] }}"

    #- name: Ansible remove words example
    #  set_fact:
    #     target_hosts: "{{ target_hosts | replace('u'  ', '') }}"
    #  set_fact:
    #     target_hosts: "{{ target_hosts | replace('\'', '') }}"
    

